*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(230, 172, 172);
}
/* banner */
.banner{
    height: 500px;
    background-color: rgb(224, 250, 182);
}
/* news */
.news{

    background-color: rgb(255,225,194);
    padding: 2rem;
}
.sec-title{
    text-align: center;
    position: relative;
}
.sec-title h3{
    position: relative;
}
.sec-title h3::before{
    content: '';
    display: inline-block;
    width:50px;
    height: 1px;
    background-color: #111;
    position: absolute;
    top: 50%;
    transform: translateX(-100%);
    
}
.sec-title h3::after{
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: #111;
    position: absolute;
    top: 50%;
}
.slider-news{
    width: 80%;
    height: 300px;
    background-color: #fff;
    margin: 1rem auto;
}
.btnbox{
    width: 160px;
    background-color: rgb(105,78,61);
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 1rem;
}
.btn-more{
    color: #fff;
}
.btn-more::before{
    content: '>';
    position: absolute;
    right:1rem;
    transition: 1s;
}
.btnbox:hover .btn-more::before{
    right:3px;
    transition: 1s;
}
/* introduction */
.introduction{
    background-color: rgb(251,174,143);
    padding: 2rem;
}
.intro-container{
    width: 80%;
    height: 400px;
    margin: 1rem auto;
    background-color: #fff;
    padding: 1rem;
    display: flex;
}
.intro-img{
    width: 50%;
    height: 100%;
    background-color: rgb(224, 163, 163); 
}
.intro-img> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.intro-content{
    width: 50%;
    padding: 1rem;
}
.intro-content h3{
    
    font-weight: 600;
}
.intro-content h4{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem 0;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
    margin: 1rem 0;
}
.intro-content>p{
    font-size: 0.7rem;
    margin-bottom: 1rem;
    line-height: 1rem;
}
.intro-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.icon-iten{
    width: 50%;
    padding: 0.5rem;
}
/* RWD時改寬度的% 25%之類的 */
.icon-iten>p{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

/* shopping */

.shopping{
    height: 500px;
    background-color: rgb(255,225,194);
    padding: 1rem;
}
.slider-shopping{
    width: 80%;
    height: 300px;
    background-color: #777;
    margin: 1rem auto;
}
/* wall */
.wall{
    padding: 1rem;
    background-color: rgb(255,240,225);
}
.wall-container{
    width: 95%;
    margin: 0  auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wall-item{
    width: 250px;
    background-color: rgb(218, 167, 167);
    margin: 1rem;
    
    padding: 0.5rem;
}
.wall-item-top{
    display: flex;
}   
.wit-logo{
    width: 20%;
}
.wit-logo>img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.wit-text{
    margin-left: 10px;
}
.wit-text>p{
    font-size: 0.8rem;
    margin-top: 5px;
}
.wall-item-center{
    padding: 1rem 0;
    font-size: 0.8rem;
    line-height: 1.1rem;
}
.wib-count{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}
.wib-count-text{
    width: 50%;
    display: flex;
    justify-content: center;
    line-height: 1.2rem;
}
.wib-count-text>span{
    margin-left: 5px;
}
.wib-link{
    text-align: center;
    padding: 1rem;
    background-color: #999;
}



/* footer */
.footer{
    
    background-color: rgb(251,174,136);
}
.footer-content{
    text-align: center;
    padding: 1rem;
}
.copyright{
    text-align: center;
    background-color: rgb(90,75,59);
    padding: 1rem;
    color: #888;
}